<a href="https://colab.research.google.com/github/Eunjung-Cho/python_study/blob/master/KMR/kmr_day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAY 01

In [1]:
!pip install finance-datareader

Collecting finance-datareader
  Downloading https://files.pythonhosted.org/packages/83/5e/54306e72b5ff5d5ec6cc9f32cdf19602237f9bb70d64efcd527338388be3/finance_datareader-0.9.31-py3-none-any.whl
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.1.5)
Collecting requests-file
  Downloading https://files.pythonhosted.org/packages/77/86/cdb5e8eaed90796aa83a6d9f75cfbd37af553c47a291cd47bc410ef9bdb2/requests_file-1.5.1-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.2.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.41.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from requests-file->finance-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.31 requests-file-1.5.1

In [2]:
import FinanceDataReader as fdr

df= fdr.DataReader('KS11', '2020-01-01')
df

              Close     Open     High      Low        Volume  Change
Date
2020-01-02  2175.17  2201.21  2202.32  2171.84  4.946800e+08 -0.0102
2020-01-03  2176.46  2192.58  2203.38  2165.39  6.315600e+08  0.0006
2020-01-06  2155.07  2154.97  2164.42  2149.95  5.926700e+08 -0.0098
2020-01-07  2175.54  2166.60  2181.62  2164.27  5.682400e+08  0.0095
2020-01-08  2151.31  2156.27  2162.32  2137.72  9.138300e+08 -0.0111
...             ...      ...      ...      ...           ...     ...
2021-04-05  3120.83  3121.23  3127.20  3101.86  1.080000e+09  0.0026
2021-04-06  3127.08  3123.80  3139.29  3110.19  1.280000e+09  0.0020
2021-04-07  3137.41  3129.07  3146.19  3125.33  1.980000e+09  0.0033
2021-04-08  3143.26  3137.25  3145.81  3122.09  1.360000e+09  0.0019
2021-04-09  3131.88  3146.51  3156.04  3125.24  1.780000e+06 -0.0036

[315 rows x 6 columns]

In [3]:
import keyword

print(len(keyword.kwlist)) # 총 33개의 키워드
print(keyword.kwlist)      # 키워드 내용

35
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## 파이썬의 주요 키워드 요약

- True, False: 참/거짓을 표현. 비교연산(==, < 등)의 결과는 항상 True 혹은 False.
- None: 값 없음을 표현
- del: 객체를 삭제
- and, or, not: 논리연산 AND, OR, NOT
- def: 함수를 정의
- return: 함수를 종료하고 값을 반환
- if, else, elif: 조건에 참/거짓 여부에 따라 블럭을 실행
- for, while: 보통 순회가능와 함께 반복(for), 조건이 True인 동안 실행(while)
- break, continue: 반복문을 종료(break)하거나, 처음으로 이동(continue)
- from, import: 모듈을 읽어 메모리에 적재
- try, except: 예외 처리
- with, as: 오픈된 파일의 범위(컨텍스트)
- in: 리스트에 요소값이 존재하는지 테스트
- is: 같은 객체인지 테스트
- pass: 빈 블럭(실행할 것이 없음)

### 그 외 키워드

- assert: 조건이 False면 에러(AssertError)를 발생(주로 테스트에 사용)
- finally: 예외처리의 try..except에서 처리하지 않는 내용을 처리하는 블럭
- raise: 예외를 발생시킴
- global, nonlocal: 전역변수로 지정, 로컬변수가 아님을 지정
- lambda: 이름이 없는(익명) 함수로 실행 코드만 사용 (주로 map() 같은 함수와 함께 사용)
- class: 새로운 클래스를 정의
- yield: 값을 호출한 곳에 반환(제너레이터를 반환)하고 다시 돌아옴

In [5]:
# 한 번에 정리하는 파이썬 프로그래밍, 2019 FinanceData.KR

## print()함수로 여러가지 출력
print('Hello, Python')  # Hello, Python

"""
따옴표 세개로 묶어 긴 설명 문서를 작성할 수 있습니다
"""

Hello, Python

'\n따옴표 세개로 묶어 긴 설명 문서를 작성할 수 있습니다\n'

In [6]:
# 변수와 값, 변수(variable)에 값(value)을 할당(assign)
원금 = 1250
수익률 = 0.25
잔고 = 원금 + 원금 * 수익률

In [8]:
# 데이터 타입
print(type(원금))    # <class 'int'>
print(type(수익률))  # <class 'float'>

<class 'int'>
<class 'float'>

#### str.format()

{:.2f} 
-> float 출력 , 소수점 2자리 출력

format의 첫번째 파라미터가 원금 ={}   
format의 두번째 파라미터가 수익률={:.2f} 의 {} 자리

In [9]:
# 출력을 위해 문자열 포맷팅 
출력_문자열 = '원금={}, 수익률={:.2f}, 잔고 = {:.2f}'.format(원금, 수익률, 잔고)
print(출력_문자열) # 원금=1250, 수익률=0.25, 잔고 = 1562.50

원금=1250, 수익률=0.25, 잔고 = 1562.50

In [32]:
import sys
print(sys.version)

3.7.10 (default, Feb 20 2021, 21:17:23)
[GCC 7.5.0]

#### f-string

In [33]:
# 출력을 위해 문자열 포매팅
f'원금:{원금}, 수익={수익률}, 잔고={잔고}' # -> 이게 f스트링 파이썬 3.7부터 제공

'원금:1250, 수익=0.25, 잔고=1562.5'

In [35]:
# 문자열 슬라이싱
s = 'Hello, Python'
print(s)       # Hello, Python
print(s[4])    # o
print(s[:])    # Hello, Python -> 처음부터 끝까지
print(s[0:5])  # Hello
print(s[7:9])  # Py
print(s[-1])   # n

Hello, Python
o
Hello, Python
Hello
Py
n

In [37]:
s[-2] # 끝에서 두번째

'o'

In [38]:
s[-4:] # 끝부분 4개

'thon'

In [11]:
# 문자열 split(), join()
print("화학,출판,제약".split(','))        # ['화학', '출판', '제약']
print("|".join(['화학', '출판', '제약'])) # 화학|출판|제약

['화학', '출판', '제약']
화학|출판|제약

In [41]:
stocks.append('현대차')

In [42]:
stocks.index('현대차')

3

In [12]:
# 리스트, append(), remove(), sort(), 병합
관심종목 = ['삼성전자', '한국전력']
관심종목.append('현대차')
관심종목.append('셀트리온')
print(관심종목)                 # ['삼성전자', '한국전력', '현대차', '셀트리온']
print(관심종목.index('현대차')) # 1
print('셀트리온' in 관심종목)   # True

관심종목.remove('한국전력')
print(관심종목)                 # ['삼성전자', '현대차', '셀트리온']
          
관심종목.sort()
print(관심종목)                 # ['삼성전자', '셀트리온', '현대차']

관심종목 += ['아모레퍼시픽']    # ['삼성전자', '셀트리온', '현대차', '아모레퍼시픽']
print(관심종목)

['삼성전자', '한국전력', '현대차', '셀트리온']
2
True
['삼성전자', '현대차', '셀트리온']
['삼성전자', '셀트리온', '현대차']
['삼성전자', '셀트리온', '현대차', '아모레퍼시픽']

In [13]:
# 리스트 컴프리헨션
lst = [x ** 2 for x in range(0, 10)]
print(lst) # [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
# for와 enumerate 함께 사용하기
for i, item in enumerate(관심종목):
    print (i, item) # 0 삼성전자, 1 셀트리온, 2 현대차, 3 아모레퍼시픽

0 삼성전자
1 셀트리온
2 현대차
3 아모레퍼시픽

In [45]:
abc= list(['A','B', 'C', 'D', 'E'])

In [46]:
for i,x in enumerate(abc):
  print(i,x) # i는 번호 붙는애 (인덱스), x는 그 값을 의미

0 A
1 B
2 C
3 D
4 E

In [43]:
for i,x in enumerate(range(5)):
  print(i,x) # i는 번호 붙는애 (인덱스), x는 그 값을 의미

0 0
1 1
2 2
3 3
4 4

In [48]:
# 딕셔너리: 키(key)와 값(value)
stocks = {'005930':'삼성전자', '000660':'SK하이닉스', '005380':'현대차'}

In [50]:
# 딕셔너리에 요소추가
stocks['035420'] = 'NAVER' 
stocks

{'000660': 'SK하이닉스', '005380': '현대차', '005930': '삼성전자', '035420': 'NAVER'}

In [51]:

# zip + 딕셔너리 컴프리핸션: 두 리스트 데이터의 순서쌍 만들기 
code_list = ['005930', '000660', '005380']
name_list = ['삼성전자', 'SK하이닉스', '현대차']

dic = {code:name for code, name in zip(code_list,name_list)}
print(dic) # {'005930': '삼성전자', '000660': 'SK하이닉스', '005380': '현대차'}

{'005930': '삼성전자', '000660': 'SK하이닉스', '005380': '현대차'}

In [16]:
# if 문 사용하기
ret = 0.1
if ret > 0.0:
    print("상승")
else:
    print("하락")

상승

In [17]:
# for와  range와 함께 사용하기
for i in range(1, 10): # 1~9
    print(i, end=', ')

# for와 리스트 함께 사용하기
tech_stocks = ['AAPL', 'GOOGL', 'AMZN', 'FB', 'SBUX']
for i in tech_stocks:
    print(i, ' 처리하기' )

1, 2, 3, 4, 5, 6, 7, 8, 9, AAPL  처리하기
GOOGL  처리하기
AMZN  처리하기
FB  처리하기
SBUX  처리하기

In [52]:
# 필요한 모듈을 임포트하는 방법들
import requests 
import numpy as np
from datetime import datetime, timedelta, timezone

In [19]:
# 함수 만들기: def 함수이름(매개변수1, 매개변수2) 
def stat_func(a, b):
    return a + b, (a + b) / 2  # 다수 리턴값

print(stat_func(10, 20))  # (30, 15.0)

(30, 15.0)

In [20]:
# 내장함수들: len(), sum(), min(), max(), 
data = [10, 20, 30, 50, 110, 2, 90, 30, 8]
print(len(data), sum(data), min(data), max(data))
print('데이터 평균값:', sum(data) / len(data))

9 350 2 110
데이터 평균값: 38.888888888888886

In [21]:
# 예외 처리: try...except
x = [10, 20, 30]

try:
    print(x[4])      # IndexError
    print(x[1] / 0)  # ZeroDivisionError
except IndexError as e:
    # IndexError 예외 처리하기
    print(e)
except Exception as e:
    # 그밖에 모든 예외 처리하기
    print(e)

list index out of range

In [22]:
# 날짜와 시간
from datetime import datetime, timedelta
dt = datetime(2019, 3, 10, 11, 30)

In [53]:
# strftime(): 시간을 문자열로
print(dt.strftime("%Y-%m-%d %H:%M:%S")) # 2019-03-10 11:30:00

# strptime(): 문자열을 시간으로
s = "2019년 03월 10일 11시 30분"
print(datetime.strptime(s, "%Y년 %m월 %d일 %H시 %M분")) # 2019-03-10 11:30:00

# 오늘 부터 100일 후
print(datetime.now() - timedelta(days=100)) # 2018-10-29 23:42:12.772049

2019-03-10 11:30:00
2019-03-10 11:30:00
2020-12-31 08:31:54.495185

In [54]:
bday = datetime(1996, 4, 25)
delta = datetime.today() -bday
delta.days

9116

In [24]:
# collections.Counter
from collections import Counter
stocks = ['삼성전자', '셀트리온', '셀트리온']

cntr = Counter(stocks)
print(cntr.most_common())  # [('셀트리온', 2), ('삼성전자', 1)]

[('셀트리온', 2), ('삼성전자', 1)]

In [25]:
# 파일 입출력, 쓰기
data = "6, 12, 3, 2, 13"
with open("output.txt", "w") as f:
    f.write(data)
    
# 파일 입출력, 읽기
with open("output.txt", "r") as f:
    contents = f.read()

print(contents)  # 6, 12, 3, 2, 13

print('Happy Python Coding!')

6, 12, 3, 2, 13
Happy Python Coding!